*.pdf linguist-generated=true
**/*.pdf linguist-generated=true
icons/*.pdf linguist-generated=true
icons/telefonica/light/*.pdf linguist-generated=true
icons/telefonica/regular/*.pdf linguist-generated=true
icons/telefonica/filled/*.pdf linguist-generated=true
icons/o2/light/*.pdf linguist-generated=true
icons/o2/regular/*.pdf linguist-generated=true
icons/o2/filled/*.pdf linguist-generated=true