*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
**/node_modules/

# Sketch files
*.sketch

# #figma-export-icons
# icons-config.json
# #figma-export-icons
# icons-config/default-filled.json
# #figma-export-icons
# icons-config/default-regular.json
# #figma-export-icons
# icons-config/default-light.json