*.pdf linguist-generated=false
**/*.pdf linguist-generated=false
icons/*.pdf linguist-generated=false
icons/telefonica/light/*.pdf linguist-generated=false
icons/telefonica/regular/*.pdf linguist-generated=false
icons/telefonica/filled/*.pdf linguist-generated=true
icons/o2/light/*.pdf linguist-generated=true
icons/o2/regular/*.pdf linguist-generated=true
icons/o2/filled/*.pdf linguist-generated=true
