*.DS_Store
.AppleDouble
.LSOverride
*.idea

# Icon must end with two
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent


# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
**/node_modules/

# Sketch files
*.sketch

#figma-export-icons
telefonica-filled.json
#figma-export-icons
telefonica-regular.json
#figma-export-icons
telefonica-light.json
#figma-export-icons
o2-filled.json
#figma-export-icons
o2-regular.json
#figma-export-icons
o2-light.json
#figma-export-icons
blau-regular.json
#figma-export-icons
blau-filled.json
#figma-export-icons
vivo-filled.json
#figma-export-icons
vivo-regular.json
#figma-export-icons
vivo-light.json