**/*.pdf linguist-generated=true
icons/*.pdf linguist-generated=true
icons/telefonica/light/*.pdf linguist-generated=true
icons/telefonica/regular/*.pdf linguist-generated=true
icons/telefonica/filled/*.pdf linguist-generated=true
icons/o2/light/*.pdf linguist-generated=true
icons/o2/regular/*.pdf linguist-generated=true
icons/o2/filled/*.pdf linguist-generated=true

resources/ export-ignore
.gitignore export-ignore
yarn.lock export-ignore
package.json export-ignore
package-lock.json export-ignore
figma-export-icons.template.json export-ignore
README.md export-ignore