name: SketchTool Export Assets

on:
  push:
    branches:
      - '**'
    paths:
      - "libs/**"
      - "icons/**"
      - ".github/workflows/export-assets.yml"

jobs:
  assets:
    runs-on: [self-hosted, macOS]
    steps:
      - uses: actions/checkout@v2

      - name: Get branch name
        uses: rlespinasse/github-slug-action@v3.x

      # - name: Install svgo
      #   run: npm install -g svgo

      - name: Install svgo
        run: yarn global add svgo

      - name: Removed assets
        run: git rm -r icons/*

      # comando solo para Self-Hosted machines
      - run: sudo chown -R $USER /usr/local/lib/node_modules

      - run: npm install --global kactus-cli --force

      - name: Convert folder to sketch file
        run: kactus import libs/Mistica\ Icons

      - name: Download & Install Sketch
        run: |
          curl -OL https://sketch.com/download/sketch.zip
          unzip sketch.zip

      - name: Run SketchTool
        run: Sketch.app/Contents/Resources/sketchtool/bin/sketchtool export layers --output=icons libs/*.sketch

      - name: SVGO
        run: svgo -f icons -r -o icons
        
      - name: Add assets
        run: git add -A icons/*

      - name: Commit & Push
        run: |
          git config user.name "Bot"
          git config user.email "nobody@nowhere"  
          git commit -am "Update Assets"
          git push origin ${{ env.GITHUB_REF_SLUG_URL }}

    # - name: Push
    #   run: |
    #     git show-ref
    #     git commit -m 'icon exported'
