name: PDF Generator

on:
  push:
    branches:
      - production
    pull_request:
      types: 
        - closed

jobs:
  export-figma:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - run: git checkout -b production

      - name: Convert to PDF
        run: for i in $(find icons -type f -name "*.svg"); do rsvg-convert -f pdf -o ${i%.*}.pdf $i; done

      - name: Readme generator
        run: sudo python3 .github/md-generator/md-generator.py icons

      - name: Commit & Push
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "Figma icons updated"
          git push origin production